* {
  box-sizing: border-box;
}
#header {
  border-top: #3882f6 1px solid;
  border-bottom: 1px solid rgb(109, 107, 107);
  position: sticky;
  top: 0;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}
#header,
#hero-container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  color: #f9faf8;
}
#hero-container {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 10%;
  gap: 40px;
}
#hero-container > #image-holder {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 121, 120);
  max-width: 500px;
  min-width: 45%;
  height: 250px;
}
#hero-heading {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}
#hero-text > p,
.hyper-links {
  color: #d0d1d3;
  font-size: 18px;
}
#hero-text > p {
  margin: 10px 0px;
}
#hero-text {
  flex: 1 1;
  width: 600px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hyper-links {
  display: flex;
  gap: 15px;
}
.sign-up {
  width: 150px;
  color: #f9faf8;
  text-align: center;
  background-color: #3882f6;
  padding: 5px;
  border-radius: 5px;
}
#image-heading {
  font-weight: 800;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}
.image-container {
  padding: 10px;
  min-height: 400px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.image-box > img {
  border: #3882f6 solid 3px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
.image-box > p {
  font-size: large;
  font-weight: 500;
  color: #305188;
}
.image-box {
  width: 250px;
  text-align: center;
}
#quote-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  gap: 20px;
}
#quote-container > p {
  margin: 0px 20%;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  color: #1f2937;
}
#quote-container > strong {
  text-align: center;
  margin: 20px 10% 0px;
  font-size: 28px;
  align-self: flex-end;
  color: #34445a;
}
#footer {
  background-color: #1f2937;
  min-height: 70px;
  display: flex;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
}
#call-to-action-container {
  min-height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#call-to-action {
  overflow: auto;
  border-radius: 12px;
  min-width: 60%;
  min-height: 140px;
  padding: 20px;
  color: #e5e7eb;
  display: flex;
  background-color: #3882f6;
  gap: 20px;
  flex-wrap: wrap;
}
#call-to-action > .text {
  flex: 1.5 0.7;
  /* min-width: 400px; */
}
.text {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
  font-size: 17px;
}
.text > h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}
#call-to-action > .button-container {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-button {
  padding: 5px;
  text-align: center;
  min-width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid snow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  font-weight: 600;
}
