* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* border: 1px solid rgb(148, 144, 144); */
}
#header {
  border-top: #3882f6 1px solid;
  border-bottom: 1px solid rgb(109, 107, 107);
  position: sticky;
  top: 0;
}
#header,
#hero-container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  color: #f9faf8;
}
#hero-container {
  min-height: 400px;
  display: flex;
  flex-direction: wrap;
  padding-bottom: 20px;
}
#hero-heading {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}
#hero-text > p,
.hyper-links {
  color: #d0d1d3;
  font-size: 18px;
}
#hero-text > p {
  margin: 10px 0px;
}
#hero-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hyper-links {
  display: flex;
  gap: 15px;
}
.sign-up {
  width: 200px;
  color: #f9faf8;
  text-align: center;
  background-color: #3882f6;
  padding: 5px;
  border-radius: 5px;
}
#image-heading {
  font-weight: 800;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}
.image-container {
  padding: 10px;
  min-height: 400px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.image-box > img {
  border: #3882f6 solid 3px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
.image-box > p {
  font-size: large;
  font-weight: 500;
  color: #305188;
}
.image-box {
  width: 250px;
  text-align: center;
}
#footer {
  background-color: #1f2937;
  min-height: 70px;
  display: flex;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
}
